<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>TO DO</h1>
    <form class = "addingtodos" action = "/" method = "post" >
            <input type="text" name="todo" value="{{id}}" placeholder = "Add a todo ..." >
            <input class = "addingButton" type="submit" name="submit" value="Add to do">
    </form>
    <div class = "container">
    <div class = "pending">
    <h2>Pending Items</h2>
      <ul>
      {{#newData}}
        <form class = "completeButton" action = "/delete/{{id}}" method = "post">
        <li>
        {{task}}
        </li>
        <button type = "submit" name = "delete">Mark as complete</button>
        </form>
      {{/newData}}
      </ul> 
    </div>
    <div class = "completedtodos">  
    <h2>Completed</h2>
        <ul>
        {{#completedItems}}
        {{task}}
          <form class = "markAsIncomplete" action = "/uncheck/{{id}}" method = "post">
          <button type = "submit" name = "delete">Mark incomplete</button>
        </form>
        {{/completedItems}}
        </ul>
    </div>
  </div>
    </body>
</html>

