<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>To Do List</h1>
    <form class = "addingtodos" action = "/" method = "post" >
            <input type="text" name="todo" value="{{id}}" placeholder = "Add a todo ..." >
            <input class = "addingButton" type="submit" name="submit" value="Add to do">
    </form>
      <ul>
      {{#newData}}
        <li><input class = "completeButton" type="submit" name="submit" value="Mark as Complete" method = "put">{{task}}</li>
      {{/newData}}
      </ul>   
    <h3>Completed tasks</h3>
        <ul>
        {{#completedArray}}
          <li><input class = "markAsIncomplete" type = "submit" name = "submit" value = "Mark as Incomplete">{{task}}</li>
        {{/completedArray}}
        </ul>
    </body>
</html>
