<!DOCTYPE html>
<html>
  <body>
    <h1>To Do List</h1>
    <form class = "addingtodos" action = "/todolist" method = "post" >
            <input type="text" name="name" value="{{id}}" placeholder = "Add a todo ..." >
            <input type="submit" name="submit" value="Add to do">
            <br>
            <br>
            <br>
            <input type="submit" name="submit" value="Mark Complete">
            <input type="text" name="name" value="{{id}}" placeholder = "" >
            <br>
            <input type="submit" name="submit" value="Mark Complete">
            <input type="text" name="name" value="{{id}}" placeholder = "" >       
    <h3>Completed tasks</h3>
    </body>
</html>